body {
    background: #464747;
    color: rgba(236, 239, 241, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    --mdc-theme-primary: #34abeb;
    margin: 0;
    padding: 0;
}

.heading {
  display: flex;
  height: 100px;
}

.heading-child {
  flex: 1;
  margin: 10px;
}

#title > #logo {
  height: 75px;
}

.video {
  display: flex;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #eceff1;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(236, 239, 241, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(236, 239, 241, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: #464747;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}

body {
    margin: 1em;
}

button {
    margin: 0.2em 0.1em;
}

#copyID {
  visibility: hidden;
}
#currentRoom {
  visibility: hidden;
}

#midiInactive {
  visibility: hidden;
}

#midiActive {
  visibility: hidden;
}

#controls {
  background: #464747;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  position: fixed;
  visibility: hidden;
}

#settings {
  background: #464747;
  border-radius: 0 0 10px 10px;
  top: 0;
  right:0;
  position: fixed;
}

#notifications {
  background: #FFF;
  bottom: 0;
  color: #000;
  height: 25px;
  left: 50%;
  margin: 0 auto;
  padding: 2px;
  position: fixed;
  text-align: center;
  transform: translate(-50%, 0);
  width: 300px;
  visibility: hidden;

}

div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#videos > video {
    background: black;
    display: block;
    margin: 1em;
}
div#videos > #localVideo {
  width: 320px;
  height: 100%;
  flex: 0 1 320px;
}

div#videos > #remoteVideo {
  width: 640px;
  height: 100%;
  flex: 1;
}
